.weather-container {
  padding: 60px;

  .search-location-container {
    margin-bottom: 50px;
  }

  .current-weather {
    width: max-content;
    margin-bottom: 20px;
    padding: 25px;
    box-shadow: 0 0 2px black;
    border-radius: 10px;

    .location-name {
      margin-right: 20px;
      font-size: 3rem;
      align-items: center;
      justify-content: center;
    }
    .weather-details {
      font-weight: 600;
      align-items: center;
      justify-content: center;

      .weather-icon {
        width: 100px;
        height: 100px;
      }
    }
  }
  .btn {
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: 600;
    background: rgba(65, 105, 225, 0.534);
    border: 0.2px solid black;
    border-radius: 5px;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: #2196f3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
  .celsius-btn{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .celsius-title{
    color: blue;
    font-size: 1.2rem;
    margin-right: 5px;
  }
}

@media (max-width: 850px) {
  .weather-container {
    padding: 7px;

    .search-location-container {
      margin-bottom: 30px;
    }
    .current-weather-with-btns {
      flex-direction: column;
      align-items: center;

      .current-weather {
        padding: 8px;

        .location-name {
          margin-right: 10px;
          font-size: 1.7rem;
        }
        .weather-details {
          font-size: 0.8rem;

          .weather-icon {
            width: 60px;
            height: 60px;
          }
        }
      }
      .btn {
        width: max-content;
        padding: 5px;
        font-size: 0.9rem;
      }
    }
  }
}
